<div class="container">
<h1>Stupid Coaching</h1>

<div class="only_border">
<p><%=params[:question]%></p>
<p>- You</p>
</div>

<div class="add_color">
<p><%=@answer%></p>
<p>- Your coach</p>
</div>

<div class="align">
<%= link_to "Back to question", ask_path %>
</div>
</div>
